@model First_WebApplication.Models.Information
@{
    ViewBag.Title = "Createsubmit";
}

<h2>Createsubmit</h2>

<h4>NAME:@Model.name</h4>
<h4>ID:@Model.id</h4>
<h4>DATE OF BIRTH:@Model.dob </h4>
<h4>BLOOD GROUP:@Model.blood </h4>

